__pycache__/
*.pyc
*.egg-info/
pinocchio/
.DS_Store
.ipynb_checkpoints/
cd_project/egg_info
.vscode/launch.json
notes/
benchmark/**/lightning_logs/
outputs/
*.ckpt
*.prof
*.npz
cd_project.egg-info/
*.mp4
*.tex
*.pdf
*.png
results/
videos/