__pycache__/
*.pyc
*.egg-info/
build/
dist/
.pixi/
.pytest_cache/
.ruff_cache/
.DS_Store
.ipynb_checkpoints/
.vscode/launch.json
notes/
lightning_logs/
outputs/
*.ckpt
*.zip
*.prof
*.npz
*.mp4
*.tex
*.pdf
*.png
*.aux
*.log
*.out
*.fls
*.fdb_latexmk
*.synctex.gz
*.toc
*.bbl
*.blg
results/
videos/
/data/
.cache/
nbs/working/data/
notes.md
.vscode
