__pycache__/
*.pyc
*.egg-info/
pinocchio/
.DS_Store
.ipynb_checkpoints/
.vscode/launch.json
notes/
benchmark/**/lightning_logs/
outputs/
*.ckpt
*.prof
*.npz
*.mp4
*.tex
*.pdf
*.png
results/
videos/
data/